Drawing on fieldwork conducted in Nech Sar National Park in Southern Ethiopia, this paper shows that insufficient
consideration of local livelihood needs and land-use patterns constitute major underlying reasons for the limited
effectiveness of the national park. We interviewed a total of 120 smallholder and pastoralist households living in and
around Nech Sar National Park, using semi-structured questionnaires. We also collected qualitative data through expert
interviews, focus group discussions and participatory observation. The findings uncover that there is a mismatch between
a top-down, state-initiated conservation approach, local needs as well as regional political interests, conditions to be
found in many national parks in sub-Saharan Africa. We conclude that the